<form class="form" [formGroup]="authForm">
    <div class = "form-group">
        <label for="name">Имя</label>
        <input id="name" class="form-field" type="text" name="name" [formControlName]="'username'">
        <div class="form-error" *ngIf="authForm.controls['username'].invalid && authForm.controls['username'].touched">
            Обязательно для заполнения!
        </div>
    </div>
    <div class = "form-group">
        <label for="password">Пароль</label>
        <input id="password" class="form-field" type="password" name="password" [formControlName]="'password'">
        <div class="form-error" *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">
            Обязательно для заполнения!
        </div>
    </div>

    <div class="send">
        <button type="submit" [disabled]="authForm.invalid" (click)="login(this.authForm)">Войти</button>
    </div>
</form>
<a href="/profile/register">Ещё нет аккаунта?</a>