button, input {
    margin-top: 25vh;
    margin: 5px;
}

button {
    margin: 15px;
}

.converter-form {
    text-align: center;
}

input {
    width: 125px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

input:focus {
    border: none;
    border-bottom: 2px solid rgb(0, 140, 255);
    outline: 0;
}