<div class="converter-form">
    <select [(ngModel)]="currency1" (change)="onOptionChange()">
        <option value="" disabled selected>Валюта</option>
        <option *ngFor="let item of valutes.keys()">
           {{item}}
        </option>
     </select>
    <input name="input1" min = "0" [(ngModel)]="input1" (keyup)="keyUp1()"/>
    <input name="input1" min = "0" [(ngModel)]="input2" (keyup)="keyUp2()"/>
    <select [(ngModel)]="currency2" (change)="onOptionChange()">
        <option value="" disabled selected>Валюта</option>
        <option *ngFor="let item of valutes.keys()">
           {{item}}
        </option>
     </select>

     <button type="submit" (click)="toFavourite(this.currency1, this.currency2, this.token)" [disabled]="authState=='none' || currency1 == 'Валюта1' && currency2 == 'Валюта2'">+</button>
</div>