<div class="page">
<header>
    <img class = "logo" src = "favicon.ico">
    <nav>
        <ul class = "nav-links">
            <li><a href = "#">Главная</a></li>
            <li><a href = "converter">Конвертер</a></li>
            <li><a href = "page3">Страничка3</a></li>
        </ul>
    </nav>
    <nav>
        <ul class = "nav-links">
            <li><a href = "login">Войти</a></li>
            <li><a href = "registration">Зарегистрироваться</a></li>
        </ul>
    </nav>
</header>
 
<router-outlet></router-outlet>

<footer>
    <a href="https://www.cbr-xml-daily.ru/">API для курсов ЦБ РФ</a>
</footer>
</div>