<form class="form" [formGroup]="authForm" *ngIf="this.authState == 'registration' or this.authState == 'failed'">
    <div class = "form-group">
        <label for="name">Имя</label>
        <input id="name" class="form-field" type="text" name="name" [formControlName]="'username'">
        <div class="form-error" *ngIf="authForm.controls['username'].invalid && authForm.controls['username'].touched">
            Обязательно для заполнения!
        </div>
    </div>
    <div class = "form-group">
        <label for="password">Пароль</label>
        <input id="password" class="form-field" type="password" name="password" [formControlName]="'password'">
        <div class="form-error" *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">
            Обязательно для заполнения!
        </div>
    </div>

    <div class="send">
        <button type="submit" [disabled]="authForm.invalid" (click)="register(this.authForm)">Зарегистрироваться</button>
        <button type="submit" [disabled]="authForm.invalid" (click)="login(this.authForm)">Войти</button>
    </div>
</form>
<button type= "submit" *ngIf="this.authState == 'authenticated'" (click)="exit()">Выйти</button>

<div class="exchanges">
    <div class="exchange-group" *ngFor="let item of exchanges1; let i = index" id="{{i}}">
        <label class="exchange">{{this.exchanges1[i]}}</label>
        <input class="exchange" [(ngModel)]="inputs[i]" (keyup)="keyUp1()" name="input1" min = "0"/>
        <input class="exchange" [(ngModel)]="inputs2[i]" (keyup)="keyUp2()" name="input1" min = "0"/>
        <label class="exchange">{{this.exchanges2[i]}}</label>
        <button class="exchange" id="{{i}}" (click)="remove($event)">X</button>
    </div>
</div>
