input.ng-touched.ng-invalid .form-field{
    border: solid red 2px;
}

input.ng-touched.ng-valid .form-field{
    border: solid green 2px;
}

.form {
    text-align: center;
}

label {
    display: block;
}

button {
    margin: 0 auto;
    display: block;
}

.exchange {
    display: inline-block;
}

.exchange-group {
    margin-bottom: 10px;
}